body {
  background-color: #f9f7fe;
}

.weather-app {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}
